@import url('https://fonts.googleapis.com/css2?family=Epilogue&family=Inter&family=Roboto&display=swap');
.qw{
  font-family: 'Epilogue', sans-serif;
}
.qe{
  margin-left: 50px;
  margin-top: 100px;
}
.qr{
  margin-left: 50px;
  margin-top: 20px;
}
.qt{
  border-radius: 30px;
}
.qy{
  background: url("imges/Снимок 5.PNG");
  width: 500px;
  height: 45px;
  margin-top: 100px;
  margin-left: 40px;
}
.qu{
  width: 130px;
  height: 130px;
  background: #4543E8;
}
.container{
  .row{
    .col-4{
      .qi{
        width: 40px;
        height: 40px;
      }
    }
  }
}
.qo{
  width: 190px;
  height: 8px;
}
.qp{
  margin-top: 90px;
}
.qa{
  margin-top: 30px;
  margin-left: 520px;
}
.qs{
  background-image: url("imges/IMAGE work.png");
  //background-size: cover;
  //background-attachment: fixed;
  background-repeat: no-repeat;
    height: 400px;
    size: 100%;
}
.qd{
  background: #4543E8;
  height: 400px;
}
.qf{
  margin-top: 150px;
}
  @media only screen and (max-width: 1200px){
    
  }